body {
  background-image: url("/style/images/bluebg.png");
  background-size: cover;
  background-color: #379CEC;
  color: white;
  font-family: Burbank Big Condensed; 
  margin: 0;

}

header {
  padding: 0;
}

  /* Nav Styles Begin  */
  nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #9d4dbb;
  font-family: Burbank Big Condensed;
  }
  .navli {
  list-style: none;
  display: flex;
  gap: 1em;
  font-size: 22px;
  }
  nav ul {
      list-style: none;
      margin: 0;
      padding: 0; 
      display: inline;
  }
  nav a {
      display: block;
      line-height: 1.8em;
      text-decoration: none;
      text-align: center;
      text-decoration: none;
      color: #f3af19;
  }
  nav a:hover {
      background-color: #319236;
      color: white;
      font-size: 1.2em;
      transition: 0.3s ease;
  }
  .logo {
    font-size: 50px;
    color: #f3af19;
  }

  /* Nav Media Query */
  @media (max-width: 640px) {
    nav {
      text-align: center;
    }
  
    .navli {
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 0.8em 0;
    }

  }

   /* Nav Styles End */

  

  h2 {
    color: #f3af19;
    font-size: 40px;
    font-family: Burbank Big Condensed;
    text-align: center;
  }

  section {
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    padding: 40px;
  }

  /* Youtube Search Styles */

.searchbox {
  border: 5px solid #9d4dbb;
  padding: 10px;
  height: 20px;
  border-radius: 20px;
  outline: none;
  color: #9DBFAF;
}

.searchbutton {
  background-color: #9d4dbb;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.vids {
text-align: center;
font-weight: bold;
font-size: 15px;
font-family: 'Times New Roman', Times, serif;
color: #f3af19;
}

.result {
  list-style-type: none;
    color: #f3af19;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    padding-bottom: 15px;
}

  
  /* Chart Styles */
  canvas {
    display: flex;
    margin: 0 auto;
  }

  .wrapper{
    width:40%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 60px 50px;
    background:#ffffff;;
    border-radius:4px;
  }

  @media (max-width: 640px) {
    .wrapper {
      width: 80%;
      margin: 20px auto;
    }
  }

  /* Character Generator Styles */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    height: 500px;
    padding: 30px;
  }

  .genbtn {
  background-color: #319236;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  /* Footer Styles */
  footer {
    background-color: #9d4dbb;
   font-family:'Times New Roman', Times, serif;
    font-size: 15px;
      color: #f3af19;
    text-align: center;
    padding: 10px 20px;
}